<% post.errors.full_messages.each do |error| %>
  <p><%= error %></p>
<% end %>
<form action="<%= action_url %>" method="POST">
  <%= auth_form %>
  <% if @post.persisted? %>
    <%= http_method(method) %>
  <% end %>

  <label for="post_title">Title:</label>
  <input type="text"
         name="post[title]"
         value="<%= @post.title %>"
         id="post_title">
  
  <br>

  <label for="post_url">URL:</label>
  <input type="text"
         name="post[url]"
         value="<%= @post.url %>"
         id="post_url">

  <br>

  <label for="post_content">Content:</label>
  <textarea name="post[content]"
            id="post_content"><%= @post.content %></textarea>

  <br>

  <label>Subs :</label>

  <input type="hidden"
         name="post[sub_ids][]"
         value="">

  <% Sub.all.each do |sub| %>
    <br>
    <label>
      <input type="checkbox"
         name="post[sub_ids][]"
         value="<%= sub.id %>"
         <%= "checked" if @post.sub_ids.include?(sub.id) %>>
      <%= sub.title %>
    </label>
  <% end %>

  <br>

  <input type="submit">
</form>